<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>crear nuevo usuario</title>
  </head>
  <body>
    <h1>crear Usuario</h1>

    <form action="/guardar" method="POST">
      <label>Nombre:</label>
      <input type="text" name="nombre" /><br />

      <label>apellido:</label>
      <input type="text" name="apellido" /><br />

      <label>email:</label>
      <input type="text" name="gmail" /><br />

      <input type="submit" value="crear usuario" />
    </form>
  </body>
</html>
