<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ver Usuario</title>
  </head>
  <body>
    {% if usuario %}
    <h1>Información del Usuario</h1>
    <p><strong>Nombre completo:</strong> {{ usuario.nombre }} {{ usuario.apellido }}</p>
    <p><strong>Email:</strong> {{ usuario.gmail }}</p>
    <p><strong>Fecha de Creación:</strong> {{ usuario.created_at }}</p>
    <p><strong>Fecha de Actualización:</strong> {{ usuario.updated_at }}</p>
    

    <a href="/editar/{{ usuario.id }}">Editar</a>
    <a href="/borrar/{{ usuario.id }}">Borrar</a>
    {% endif %}
  </body>
</html>
